* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: cadetblue;
    padding-bottom: 500px;
}
.class{
    border-bottom: 1px solid red;
    padding: 2em;
    margin-bottom: 1em;
}